@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins&family=Satisfy&display=swap');

body, div, h1,h2,h3,h4,h5,h6, p, a, img, ul, li, span, button, input, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  background-color: #2e294e;
  padding-left: 40px;
}

.hero-section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.icons{
  font-size: 30px;
  color: #ffff;
}
.heroText{
  font-family: 'Epilogue', sans-serif;
  color: #ffff;
  font-weight: 900;
}



/* Css for old portfolio */
.section-1 {
  height: 100vh;
  background-image: url('/wave6.svg');
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.section-2{
  min-height: 100vh;
  background-image: url('/wave4.svg');
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.aboutmeText {
  /* width: 100%;  */
  max-width: 670px; 
  background-color: rgba(19, 49, 92, 1);
  padding: 40px;
  color: #ffffff;
}


.section-3 {
  min-height: 100vh;
  background-color: #13315c;
 color: #ffff; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.companyText{
 font-style: italic;
}
.expIcon{
  width: 50px;
}

.section-4 {
  min-height: 100vh;
  background-image: url('/wave5.svg');
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;

}
.projects{
 width: 300px;
 height: 250px;
 border: 1px solid #423B0B;
}
.projects:hover{
  transform: scale(1.1);
  border: 1px solid #43C59E;
  transition: 0.5s;
}

.projectText{
  color: #FFFF;
 
}

.projectTopBox{
  height: 70%;
  width: 100%;
  
}
.projectBottomBox{
  height: 30%;
  width: 100%;
  background-color: #A594F9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.tools{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43C59E;
  padding: 7px;
  border-radius: 5px;
  color: #ffff;
  height: 20px;

}


.icons:hover{
  color: #43C59E;
  transform: scale(1.1);
  transition: 0.5s;
}

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

#backToTopBtn a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #13315c;
  color: #43C59E;
  font-size: 24px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#backToTopBtn a:hover {
  background: #43C59E;
  color: #13315c;
}




