@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins&family=Satisfy&display=swap");

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
figure,
figcaption,
pre,
a,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #2e294e !important;
}

.main-container {
  margin-left: 70px;
  margin-right: 70px;
}

.hero-section {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.icons {
  font-size: 30px;
  color: #ffff;
}
.icons:hover {
  color: #ffd400;
  transform: scale(1.1);
  transition: 0.5s;
}
.arrow-icons {
  min-width: 25px;
  color: #ffff;
  font-size: 30px;
}
.arrow-icons:hover {
  color: #ffd400;
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}
.heroText {
  font-family: "Epilogue", sans-serif !important;
  color: #ffff;
  font-weight: 900;
}
.headerText {
  font-family: "Poppins", sans-serif !important;
  color: #ffd400;
  font-weight: "normal";
}
.regularText {
  font-family: "Epilogue", sans-serif !important;
  color: rgba(255, 255, 255, 0.64);
  font-weight: normal;
  font-size: 16px;
}

.experience-section {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.companyText {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  color: #ffff;
  margin-bottom: 10px;
  font-style: italic;
}

.timeline-container {
  position: relative;
  max-width: 1200px;
  min-height: 100vh;
}
 
.container{
  padding: 10px 40px;
  position: relative;
  width: 50%;
}


.textbox {
  padding: 20px 30px;
  position: relative;
}

.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}
.circle {
  position: absolute;
  width: 40px;
  right: -20px;
  top: 32px;
  z-index: 10;
  color: #fff;
}

.right-container .circle {
  left: -20px;
}
.timeline {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #fff;
  left: 50%;
  top: 0;
  z-index: -1;
  margin-left: -1px;
}



.projects-section {
  margin-top: 100px;
  width: 100%;
}

.cards img:hover {
  transform: scale(1.1);
  border: 1px solid #ffd400;
  transition: 0.5s;
 
}
.cards img:hover + .link-icon {
  display: block;
}

.link-icon{
  color: #ffff;
  position: absolute;
  top: 5px;
  left: 95%;
  display: none;
}
.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px
}

.contact-section{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

/* Media queries for different screen sizes */
@media (max-width: 425px) {
  .textAlignment {
    text-align: center;
    align-items: center !important;
  }
  .timeline {
    margin: 50px auto;
    left: 35px;

  }

  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .textbox {
    font-size: 13px;
  }
  .right-container {
    left: 0;
  }
  .left-container .circle,
  .right-container .circle {
    left: 15px;
  }
}
@media (max-width: 768px) {

}

@media (max-width: 1200px) {

}


#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

#backToTopBtn a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ffd400;
  color: #2e294e;
  font-size: 24px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#backToTopBtn a:hover {
  background: #43c59e;
  color: #13315c;
}
